body, html{
	height:100%;
	font: 400 15px/1.8 "Lato", sans-serif;
}
.parallax {
	/*height:100%;*/
	position: relative;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	/*display: block;*/
}
.parallax1{
	background-image: url("logo2.jpeg");
	min-height: 100%;
}
.parallax2{
	background-image: url("about_us.jpg");
	min-height: 400px;
}
.parallax3{
	background-image: url("creators3.jpg");
	min-height: 400px;
}
.parallax4{
	background-image: url(zaahir2.jpeg);
	min-height: 500px;
}
.iframe{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
}
.iframe iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.caption{
	position: absolute;
	left:0;
	top: 50%;
	width: 100%;
	text-align: center;
	color:#000;
	display: block;
	/*box-sizing: border-box;*/
}
.border{
	background-color: #98a294ab;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
	opacity: 1;
}
nav{
	/*align-content: center;*/
	/*color: grey;*/
	background-color: #24252A;
	/*padding: 20px;*/
	/*margin:20px;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10%;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}
nav a{
	background-color: #24252A;
	position: relative;
	color: white;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	padding: 20px;
	text-align: center;
	margin:10px;
}
section{
	/*display: inline-block;*/
	background-color: purple;
}